.services-section {
    padding-top: 5rem;
    .services-text {
        padding: 3rem;
        font-size: 90%;
        @media (min-width: 992px) {
          padding: 5rem;
          hr {
            border-color: $primary;
            border-width: .25rem;
            width: 30%;
          }
        }
        .collaps {
          height: 0;
          overflow: hidden;
          transition: height .5s;
        }
      }
}